<style type="text/css">

   .events tr.starred a.star {
       display: none;
   }
   .events tr.starred {
       background-color: #bee5eb;
   }

   .events tr:not(.starred) a.unstar {
       display: none;
   }

   .events tr.hidden a.hide {
       display: none;
   }
   .events tr.hidden {
       color: lightgray !important;
   }

   .events tr.hidden a{
       color: lightgray !important;
   }

   .events tr:not(.hidden) a.unhide {
       display: none;
   }

</style>

<table class="table table-sm events">
    <thead class="thead-light">
    <tr>
        <th colspan="7" style="text-align: center;">
            {% if events|first is not empty %}
                {{ events|first.start|date("D (d.m)") }}
            {% endif %}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
        <tr {% if event.starred %} class="starred"
            {% elseif event.hidden %} class="hidden"{% endif %}>
            <td class="starable">
                    <a class="unstar" href="{{ path('unstar', {'id':event.id}) }}">Unstar</a>
                    <a class="star" href="{{ path('star', {'id':event.id}) }}">Star</a>
            </td>
            <td class="hidable">
                <a class="hide" href="{{ path('hide', {'id':event.id}) }}">Hide</a>
                <a class="unhide" href="{{ path('unhide', {'id':event.id}) }}">Unhide</a>
            </td>
            <td>{% if not event.isViewed %}<strong>NEW</strong>{% endif %}</td>
            <td>{{ event.start|date("H:i") }}</td>
            <td>{{ event.provider|trans }}</td>
            <td><b><a href="{{ event.url }}" target="_blank">{{ event.title }}</a></b></td>
            <td>{{ event.description }}</td>
            <td>{{ event.updated|date("d.m G:i") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $( document ).ready(function() {
        var $rows = $('table.events tr');
        $rows.each(function (row) {
            var $row =  $(this);
            $row.find('td.starable a').on('click', function (e) {
                e.preventDefault();
                var url = $(e.target).attr("href");
                $.get(url, function (data) {
                    $row.toggleClass('starred');
                });
            });
            $row.find('td.hidable a').on('click', function (e) {
                e.preventDefault();
                var url = $(e.target).attr("href");
                $.get(url, function (data) {
                    $row.toggleClass('hidden');
                });
            })
        })
    });
</script>