<style type="text/css">

   .events tr.starred a.star {
       display: none;
   }
   .events tr.starred {
       background-color: #bee5eb;
   }
   .events tr.active {
       background-color: lightgreen;
   }

   .events tr:not(.starred) a.unstar {
       display: none;
   }

   .events tr.hidden a.hide {
       display: none;
   }
   .events tr.hidden {
       color: lightgray !important;
   }

   .events tr.hidden a{
       color: lightgray !important;
   }

   .events tr:not(.hidden) a.unhide {
       display: none;
   }

</style>

<table class="table table-sm events">
    <thead class="thead-light">
    <tr>
        <th colspan="7" style="text-align: center;">
            {% if events|first is not empty %}
                {{ events|first.start|date("D (d.m)") }}
            {% endif %}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for event in events  %}
        <tr {% if event.starred %} class="starred"
            {% elseif event.hidden %} class="hidden" {% endif %}>
            <td class="hidable">
                <a class="hide" href="{{ path('hide', {'id':event.id}) }}"><span class="oi oi-eye"></span></a>
                <a class="unhide" href="{{ path('unhide', {'id':event.id}) }}"><span class="oi oi-eye"></span></a>
            </td>
            <td class="starable">
                    <a class="unstar" href="{{ path('unstar', {'id':event.id}) }}"><span class="oi oi-star"></span></a>
                    <a class="star" href="{{ path('star', {'id':event.id}) }}"><span class="oi oi-star"></span></a>
            </td>
            <td>{{ event.start|date("H:i") }}</td>
            <td>{{ event.provider|trans }}</td>
            <td class="external"><b><a href="{{ event.url }}" target="_blank">{{ event.title }}</a></b></td>
            <td>{{ event.description }}</td>
            <td>{{ event.updated|date("d.m G:i") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $( document ).ready(function() {
        var $rows = $('table.events tbody tr');
        $rows.each(function (row) {
            var $row =  $(this);
            $row.find('td.starable a').on('click', function (e) {
                e.preventDefault();
                var url = $(e.currentTarget).attr("href");
                $.get(url, function (data) {
                    $row.toggleClass('starred');
                });
            });
            $row.find('td.hidable a').on('click', function (e) {
                e.preventDefault();
                var url = $(e.currentTarget).attr("href");
                $.get(url, function (data) {
                    $row.toggleClass('hidden');
                    findActiveRow();
                });
            });

            $row.focusout(function (e) {
                if( ! $row.hasClass('starred') && ! $row.hasClass('hidden')){
                    $row.find('td.hidable a.hide').click();
                }
            });

            $row.focusin(function (e) {
                var center = $(window).height()/2;
                var top = $row.offset().top ;
                if (top > center){
                    $(window).scrollTop(top-center);
                }
            })
        });

        var $activeRow = null;

        $( window ).keyup(function( event ) {
            console.log(event.which);
            // 74 -> j
            if (event.which === 74) {
                event.preventDefault();
                findActiveRow();
            }
            // 85 -> u
            if (event.which === 85) {
                if($activeRow){
                    var url = $activeRow.find('td.external a').attr('href');
                    window.open(url, '_blank');
                    //$activeRow.find('td.external a').click();
                }
            }
        });

        function findActiveRow() {
            if($activeRow){
                $activeRow.removeClass('active');
                $activeRow.find('td.hidable a.hide').click();
                $activeRow = null;
                return;
            }

            $activeRow = $('table.events tbody tr').not('.hidden').not('.starred').first();
            $activeRow.addClass('active');

            var center = $(window).height()/2;
            var top = $activeRow.offset().top ;
            if (top > center){
                $(window).scrollTop(top-center);
            }
        }
    });
</script>