{% extends 'base.html.twig' %}

{% block body %}

    {{ include('navigation.html.twig') }}
    <div class="container">
        <table class="table">
            <tbody>
            <tr>
                <td colspan="5"></td>
                <td><a href="{{ path('import', app.request.query.all) }}">Import</a></td>
            </tr>
            {% for event in events %}
                <tr>
                    <td><a href="{{ path('hide', {'id':event.id}) }}">Hide</a> </td>
                    <td>{{ event.start|date("H:i") }}</td>
                    <td>{{ event.provider }}</td>
                    <td><b><a href="{{ event.url }}" target="_blank">{{ event.title }}</a></b></td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.updated|date("r") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}