{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('home', {
        'year' : "now"|date("Y"),
        'month' : "now"|date("m"),
        'day' : "now"|date("d")
    }) }}">{{ "now"|date("d.m") }}</a>

    <a href="{{ path('home', {
        'year' : "now"|date("Y"),
        'month' : "now"|date("m"),
        'day' : "now + 1day"|date("d")
    }) }}">{{ "now + 1day"|date("d.m") }}</a>


    <table class="table">
        {% for event in events %}
            <tbody>
            <tr>
                <td>{{ event.start|date("H:i") }}</td>
                <td>{{ event.provider }}</td>
                <td><b><a href="{{ event.url }}" target="_blank">{{ event.title }}</a></b></td>
                <td>{{ event.description }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}