{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        {% for event in events %}
            <tbody>
            <tr>
                <td>{{ event.start|date("H:i") }}</td>
                <td>{{ event.provider }}</td>
                <td><b><a href="{{ event.url }}" target="_blank">{{ event.title }}</a></b></td>
                <td>{{ event.description }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}