<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container">
        <ul class="nav">
            {%   if day|date("Y-m-d") != date('now')|date("Y-m-d") %}
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('home', app.request.query.all|merge({
                    'date' : day|date_modify("-1 day")|date("Y-m-d")
                })) }}"> <- </a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"> <- </a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('home', app.request.query.all|merge({
                    'date' : null,
                })) }}">{{ day|date("D (d.m)") }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home', app.request.query.all|merge({
                    'date' : day|date_modify("+1 day")|date("Y-m-d")
                })) }}"> -> </a>
            </li>

            <li class="nav-item"><a class="nav-link" href="
        {{ path('home', app.request.query.all|merge({'provider': null})) }}
    ">all provider</a></li>

            {% for prov in provider %}
                <li class="nav-item"><a class="nav-link" href="
            {{ path('home', app.request.query.all|merge({'provider': prov.getName})) }}
        ">{{ prov.getName }}</a></li>
            {% endfor %}

        </ul>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</nav>
